.background {
  height: 75px;
  background-color: #0c1b33;
}

.row {
  padding-top: 25px;
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  text-align: center;
  color: white;
}
